*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy-Bold', sans-serif;
}

p{
color: #22215B;
  
}
.main_div{
  width: 100%;
  height: 850px;
  background:#d8dde6 ;
  position: relative;
}

.center_div{
  position: absolute;
  left: 100px;
  top: 20px;
  padding:10px;
  width: 25%;
  height: 100px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  border-radius: 15px;
}

p{
  color:rgba(34, 33, 91, 0.6);

}
.inner_child_time{
  margin-left: 10px;
}

.about_us{
  position: absolute;
  left: 100px;
  top: 130px;
  padding:10px;
  width: 25%;
  height: 250px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  border-radius: 15px;
}
.message_heding{
  position: absolute;
  top: 20px;
  left: 70px;
}
.message_line{
  position: absolute;
  top: 40px;
  left: 70px;
}

.circle{
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background:#F1F3F6;
  float:left;
}
.circle_2{
  margin-top: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background:#F1F3F6;
  float:left;
}
.about_us_list li {
  display: inline-block;
  margin: 0 10px;      
  color:rgba(34, 33, 91, 1);
}

.profile{
  position: absolute;
  left: 35%;
  top: 20px;
  padding:10px;
  width: 25%;
  height: 350px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  border-radius: 15px;
}

.profi_pic{
  margin-top: 15px;
  margin-left: 120px;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background: #F1F3F6;
  position: relative;
}

.pro{
  width: 80px;
  border: none;
  background: #F1F3F6;
  border-radius: 5px;
  margin-top: 10px;
  height: 20px;
  margin-left: 120px;
}
.text1{
  margin-top: 10px;
  text-align: center;
  letter-spacing: 2px;
  color:rgba(34, 33, 91, 1);

}
.text2{
  text-align: center;
  font-size:0.9rem;
  color:rgba(34, 33, 91, 1);

}
.text3{
  margin-top: 5px;
  text-align: center;
  font-size:0.7rem;

}
.logos{
  height: 30px;
  width: 85%;
  margin-top: 10px;
}
.btn1{
  margin-top: 20px;
  margin-left: 15px;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: 1px solid rgba(34, 33, 91, 1);
  color:rgba(34, 33, 91, 1); 
  background-color: #FFFFFF;
}
.btn2{
  margin-top: 20px;
  margin-right: 15px;
  float: right;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: none;
  background: rgba(34, 33, 91, 1);
  color: white;
}

.learnMiro{
  position: absolute;
  left: 100px;
  top: 390px;
  padding:10px;
  width: 25%;
  height: 400px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  border-radius: 15px;
}
.image{
  width: 90%;
  height: 250px;
  margin-left: 15px;
  background-image: url(learnmicro.png);
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
}
.h22{
  color:rgba(34, 33, 91, 1) ;
}
.time_lernMicro{
  margin-top: 10px;
  font-size: 15px;
  color:rgba(34, 33, 91, 1);

}
.paragrph_learmmicro{
  margin-top: 5px;
  font-size: 12px;
}
.readblog{
  margin-top: 10px;
  border: none;
  color:rgba(34, 33, 91, 1);
  letter-spacing: 0px;
  
}
.blog{
  margin-top: 10px;
  margin-right: 20px;
  border: none;
  color:rgba(34, 33, 91, 1);
  float: right;
  background: rgb(209, 245, 245);
}

.search_bar{
  position: absolute;
  right: 100px;
  top: 20px;
  padding:10px;
  width: 30%;
  height: 70px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  border-radius: 15px;
}

.message_notif{
  position: absolute;
  right: 100px;
  top: 280px;
  padding:10px;
  width: 30%;
  height: 80px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  border-radius: 15px;
}

b{
  font-size: 15px;
}

.fa-search{
position: absolute;
color:rgba(34, 33, 91, 1);

top:15px;
left:10px;
}

.search_input{
  top: 20px;
  left: 60px;
  border: none;
  position: absolute;
  font-size: 20px;
  background-color: #FFFFFF;
  
}
.profile_list{
  padding-top: 5px;
  float: right;
  margin-right: 35px;
}
.profile_list li {
  display: inline-block;
  margin: 0 10px;      
  color:rgba(34, 33, 91, 1);
}

.taske_page{
  position: absolute;
  right: 100px;
  top: 370px;
  padding:10px;
  width: 30%;
  height: 420px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  border-radius: 15px; 
}

.heading_task{
  color: rgba(34, 33, 91, 1);
  margin: 10px;
}
.para_task{
  margin: 10px;
  font-size: 15px;
}

.first_div {
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  background:#EEF7FE ;
  height: 40px;
  width: 90%;
  border-radius: 10px;
}
.second_div {
  margin-top: 10px;
  margin-left: 20px;
  background:#EEF7FE;
  height: 40px;
  width: 90%;
  border-radius: 10px;

}
.third_div{
  margin-top: 10px;
  margin-left: 20px;
  background:#EEF7FE ;
  height: 40px;
  width: 90%;
  border-radius: 10px;

}

.pluse_btn{
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color:transparent;
    background-color:rgba(34, 33, 91, 1);
    color: #fff;
    font-size: 40px;
    border: none;
    outline: none;
    float: right;
    margin-top: 70px;
    margin-right: 20px;
  }

  .experties_section{
    position: absolute;
    right: 100px;
    top: 100px;
    padding:10px;
    width: 30%;
    height: 170px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
    border-radius: 15px; 
  }
  
.tasks_ul li{
  list-style: none;
  display: inline-block;
  margin: 0 10px;      
  color:rgba(34, 33, 91, 1);
}
.true_sign{
  margin-top: 5px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: rgb(255, 255, 255);
  float:left;
}
.taske_value{
 position: relative;
  height: 40px;
  width: 150px;
  top: 10px;
  margin-left: 60px;
  color: rgba(34, 33, 91, 1);
}
.fa-check{
  margin-top: 7px;
  margin-left: 7px;
  color: #4CE364;
}
.delete_icon{
  margin-top: 13px;
  float: right;
  height: 20px;
  width: 30px;
}
.fa-trash{
  color: rgb(211, 210, 210);
}
h4{
  color: rgba(34, 33, 91, 1);
}
.about_para{
  color: rgba(34, 33, 91, 1);
}
.fa-bell{
  margin-top: 15px;
  margin-left: 17px;
}
.calender_section{
  position: relative;
  left: 35%;
  top: 380px;
  padding:10px;
  width: 25%;
  height: 300px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  border-radius: 15px;
}
h2{
  color: rgba(34, 33, 91, 1);
}
.expert_list li{
  color: rgb(69, 38, 204);
  margin-left: 30px;
}
li span{
  color:rgba(34, 33, 91, 1) ;
}
  
a {
  text-decoration: none;
}
 

a {
  text-decoration: none;
}
.Calender_heding{
   position: absolute;
   top: 20px;
   left: 30px;
}
.Jan_2020{
  position: absolute;
  right: 40px;
  top: 15px;
  color: rgba(34, 33, 91, 1);
}
 
table {
  border-collapse: collapse;
  border-spacing: 0;
}
 
.container {
  height: 220px;
  left: 75%;
  margin: -255px 0 0 -245px;
  position: absolute;
  top: 105%;
  width: 310px;
  background-color: #FFFFFF;
}
 
/* ---------- CALENDAR ---------- */
 
.calendar {
  text-align: center;
}
 
.calendar header {
  position: relative;
}
 
.calendar h2 {
  text-transform: uppercase;
}
 
.calendar thead {
  font-weight: 300;
  text-transform: uppercase;
}
 
.calendar tbody {
  color: rgba(34, 33, 91, 1);
}
 
.calendar tbody td:hover {
  border: 1px solid rgba(34, 33, 91, 1);
}
 
.calendar td {
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  height: 2.3em;
  line-height: 2em;
  text-align: center;
  width: 2.7em;
}
 
.calendar .prev-month,
.calendar .next-month {
  color: #cbd1d2;
}
 
.calendar .prev-month:hover,
.calendar .next-month:hover {
  border: 2px solid #cbd1d2;
}
 
.current-day {
  background: rgba(34, 33, 91, 1);
  color: #f9f9f9;
}
 
.event_1 {
  cursor: pointer;
  position: relative;
}


 
.event_1:after {
  background: rgba(34, 33, 91, 1);
  border-radius: 50%;
  display: block;
  content: "";
  height: 0.5em;
  left: 50%;
  margin: -0.25em 0 0 -0.25em;
  position: absolute;
  width: 0.5em;
}
 
.event.current-day:after {
  background: #f9f9f9;
}
 
.btn-prev,
.btn-next {
  border: 2px solid #cbd1d2;
  border-radius: 50%;
  color: #cbd1d2;
  height: 2em;
  font-size: 0.75em;
  line-height: 2em;
  margin: -1em;
  position: absolute;
  top: 50%;
  width: 2em;
}
 
.btn-prev:hover,
.btn-next:hover {
  background: #cbd1d2;
  color: #f9f9f9;
}
 
.btn-prev {
  left: 6em;
}
 
.btn-next {
  right: 6em;
}
.downloading_part{
  position: absolute;
  left: 35%;
  top: 690px;
  
  width: 25%;
  height: 100px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  border-radius: 15px;
}
.blue_section{
  position: absolute;
  width: 70%;
  height: 100px;
  background-color: #567DF4;
  border-radius: 15px 0px 0px 15px;
}
.fa-cloud-download{
  color:#FFFFFF;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 20px;
}
.downloading{
  position: absolute;
  top: 25px;
  left: 70px;
  font-size: 15px;
  color: #FFFFFF;
}
.percentage{
  color: #FFFFFF;
  margin-left: 70px;
}
.remaining{
  margin-top: 5px;
  margin-left: 70px;
  color:rgba(255, 255, 255, 0.7);
  ;
}